h1, .drop-zone {
  font-weight: 200;
}

h1 {
  font-size: 48px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.drop-zone, .output {
  min-height: 300px;
  border-radius: 4px;
  text-align: center;
}

.drop-zone {
  padding-top: 130px;
  border: 2px dotted #888;
  font-size: 24px;
  color: #888;
}

.drop-zone.hover {
  background: #ffd;
}

.output {
  background: #ddd;
  padding: 20px;
}

.output img {
  max-width: 100%;
}
